.cartasMed {
    width: 18rem;
}

.cartas div{
    margin:2%
}

.fondo{
    background-color: rgba(0,0,0,0.9);
}

body { 
    background: url(Fondo.jpeg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
