h1.a{
    text-align: center;
    vertical-align: bottom;
    font-family: serif;
}
span.a{
    text-align: center;
    vertical-align: bottom;
    font-family: serif;
}
img{
    margin: 5px;
}
img.a{
    width: 80%;
}
img.b{
    height: 60%;
}
iframe{
    width: 85%;
    height: 85%;
}
.beta{
    background-color: white;
    text-align: center;
    color: black;
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: medium;
    text-align: center;
    border-radius: 15px;
    padding: 2%;
}
body { 
    background: url(Imagenes/Fondo2.avif) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.alpha{
    background-color: rgba(0, 0, 0, 0.905);
    color: white;
    text-align: center;
    vertical-align: bottom;
    font-size: xx-large;
}
.foca{
    margin-top: 10px;
    margin-bottom: 15px;
}
.pa{
    color: black;
    font-size: large;
}