.quieto{
  position:fixed;
  background: linear-gradient(290deg,rgb(20, 20, 77),black,black);
  color: #fff;
}
.logos img{
    border-radius: 20%;
    width: 51px;
    height: 51px;
}
.logos{
  padding-top:25px ;
  padding-left: 189.7px;
  padding-right: 189.7px;
}
.nav-item {
float: left;
text-align: center;
padding: 2em;
padding-left: 155px;
}

/*
.col-lg-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}*/