.quieto{
 
  /*background: linear-gradient(290deg,rgb(20, 20, 77),black,black);*/
  padding: 2em;
}
.logos img{
    border-radius: 20%;
    width: 51px;
    height: 51px;
}
.logos{
  
  /*padding-left: 189.7px;
  padding-right: 189.7px;*/
}

button{
  position: fixed;
  bottom: 0;
  left: 50%;
}
body { 
  background: url(imagenes/Fondo.jpeg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
.col-lg-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}*/